/* ======== Mise en forme du composant "Collapse" ======== */

/* Collapse page "About" */

.main__collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #FFF;
}

.main__collapse__container {
    margin: 30px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 85%;
}

.main__collapse__wrap {
    border-radius: 5px;
    height: 50px;
    background: #FF6060;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.main__collapse__wrap h1 {
    padding: 18px;
    font-size: 24px;
    font-weight: 500;
}

.main__collapse__wrap span {
    margin-right: 24px;
}

.main__collapse__text {
    padding: 0px 40px 0px 18px;
    font-size: 24px;
    font-weight: 400;
    color: #FF6060;
    text-align: justify;
}

.main__collapse__dropdown {
    margin-top: -30px;
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Collapse page "Housing" */

.main__collapse__container__housing {
    margin: 30px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 47%;
}

.main__collapse__dropdown__housing {
    margin-top: -30px;
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__collapse__ul__housing {
    padding: 0;
    list-style: none;
}

/* ======== Media queries ======== */

@media screen and (max-width: 1024px) {
    .main__collapse__container__housing {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .main__collapse__text {
        font-size: 12px;
    }
}