/* ======== Mise en forme des composants "Collapse" sur les pages 'About' et 'Housing' ======== */

/* ======== Classes communes ======== */

/* Mise en page de la partie qui contient le titre et l'icône des collapses */

.main__collapse__wrap {
    border-radius: 5px;
    height: 50px;
    background: #FF6060;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    /* Permet d'espacer le titre du collapse et l'icône aux extrémités du collapse */
    align-items: center;
    width: 100%;
    cursor: pointer;
}

/* Position de l'icône */

.main__collapse__wrap span {
    padding-right: 24px;
}

/* Mise en forme du contenu du collapse */

.main__collapse__text {
    padding: 0px 40px 0px 18px;
    font-size: 24px;
    font-weight: 400;
    color: #FF6060;
    text-align: justify;
}

/* ======== Collapse page 'About' ======== */

/* Conteneur d'un collapse de la page 'About' */

.main__collapse__container {
    margin: 30px 0px 25px 0px;
    /* haut | droit | bas | gauche */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* Espace les différents collapses */
    width: 85%;
}

/* Titre du collapse page 'About' */

.main__collapse__about__h1 {
    padding: 18px 0px 18px 18px;
    /* haut | droit | bas | gauche */
    font-size: 24px;
    font-weight: 500;
}

/* Section qui affiche le contenu d'un collapse */

.main__collapse__dropdown {
    margin-top: -30px;
    /* Permet de lier le titre du collapse avec son contenu  */
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======== Collapse page "Housing" ======== */

/* Conteneur d'un collapse de la page 'Housing' */

.main__collapse__container__housing {
    margin: 30px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 47%;
}

/* Titre du collapse de la page 'Housing' */

.main__collapse__housing__h1 {
    font-size: 18px;
    font-weight: 500;
    padding: 18px;
}

/* Section qui affiche le contenu de la page 'Housing' */

.main__collapse__dropdown__housing {
    margin-top: -30px;
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Mise en forme de la liste du collapse "Équipements de la page 'Housing' */

.main__collapse__ul__housing {
    padding: 0;
    list-style: none;
}

/* ======== Media queries ======== */

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 768px */

@media screen and (max-width: 768px) {

    /* Conteneur d'un collapse de la page 'Housing' */

    .main__collapse__container__housing {
        width: 100%;
    }

}

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 425px */

@media screen and (max-width: 425px) {

    /* Titre du collapse */

    .main__collapse__wrap h1 {
        font-size: 13px;
    }

    /* Contenu du collapse */

    .main__collapse__text {
        font-size: 12px;
    }

}