/* ======== Mise en page du composant "Tag" ======== */

/* Conteneur des différents composants "Tags" */

.main__tags__container {
    display: flex;
    gap: 10px;
}

/* Conteneur d'un composant "Tag" */

.main__tag__container {
    border-radius: 10px;
    height: 25px;
    width: 130px;
    background-color: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__tag__container p {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
}

/* ======== Media queries ======== */

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 768px */

@media screen and (max-width: 768px) {

    /* Conteneur d'un composant "Tag" */

    .main__tag__container {
        border-radius: 5px;
    }

    .main__tag__container p {
        font-size: 12px;
    }

}

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 425px */

@media screen and (max-width: 425px) {

    /* Conteneur d'un composant "Tag" */

    .main__tag__container p {
        font-size: 10px;
    }

}