/* ======== Mise en page du composant "Tag" ======== */

.main__tags__container {
    display: flex;
    gap: 10px;
}

.main__tag__container {
    border-radius: 10px;
    height: 25px;
    width: 130px;
    background-color: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__tag__container p {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
}

/* ======== Media query ======== */

@media screen and (max-width: 768px) {

    .main__tag__container {
        border-radius: 5px;
    }

    .main__tag__container p {
        font-size: 12px;
    }

}

@media screen and (max-width: 425px) {

    .main__tag__container p {
        font-size: 10px;
    }

}