.font {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 24px;
    font-style: medium;
}

.margin {
    margin: 40px 100px 0px 100px;
}

@media screen and (max-width: 768px) {
    .margin {
        margin: 20px 20px 0px 20px;
    }
}

@media screen and (max-width: 510px) {
    .font {
        font-size: 12px;
    }
}