/* ======== Mise en forme page "Housing" ======== */

/* Classe utilisée plusieurs fois */

.main__housing__paragraph {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
}

/* Flexbox */

.main__flexbox__space__between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__flexbox__column,
.main__housing__host__informations {
    display: flex;
    flex-direction: column;
}

.main__flexbox__host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main__flexbox__space__between2 {
    display: flex;
    justify-content: space-between;
}


/* Mise en forme "div" qui contient le nom du logement et son emplacement */

.main__housing__informations {
    margin-bottom: 15px;
}

/* Nom du logement */

.main__housing__title {
    font-size: 36px;
    color: #FF6060;
}

/* Rapprochement du nom et lieu du logement */

.main__housing__paragraph__margin {
    margin-top: -15px;
}

/* Espacement informations du propriétaire et diaporama d'images */

.main__housing__host__informations {
    margin-top: 25px;
}

/* Div qui contient le prénom et nom du propriétaire */

.main__housing__host {
    margin-right: 10px;
    line-height: 10px;
}

/* Conteneur de l'image du propriétaire */

.main__host__picture__container {
    background-color: #C4C4C4;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    overflow: hidden;
    /* Rogne l'image pour qu'elle s'affiche correctement dans le conteneur */
}

/* Photo du propriétaire */

.main__host__picture {
    /* Pour que l'image remplit entièrement le conteneur en hauteur et en largeur */
    height: 100%;
    width: 100%;
}

/* Note logement */

.main__housing__rating {
    padding-top: 40px;
    display: flex;
    gap: 10px;
}

/* ======== Media queries ======== */

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 1155px */

@media screen and (max-width: 1155px) {

    /* Nom du logement */

    .main__housing__title {
        font-size: 27px;
    }

}

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 918px */

@media screen and (max-width: 918px) {

    /* Nom du logement */

    .main__housing__title {
        font-size: 23px;
    }

}

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 812px */

@media screen and (max-width: 812px) {

    /* Nom du logement */

    .main__housing__title {
        font-size: 21px;
    }

}

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 768px */

@media screen and (max-width: 768px) {

    /* Disposition flexbox allant du nom du logement à la note du logement/nom du propriétaire. */

    .main__flexbox__space__between {
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
    }

    /* Espacement nom et lieu du logement */

    .main__housing__paragraph__margin {
        margin-top: 0px;
    }

    /* Disposition informations du propriétaire + note logement */

    .main__housing__host__informations {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* Inverse l'ordre d'apparition des informations du propriétaire et de la note du logement */

    .main__flexbox__host {
        order: 1;
    }

    /* Note logement */

    .main__housing__rating {
        padding-top: 0px;
    }

    /* Place en colonne les collapses */

    .main__flexbox__space__between2 {
        flex-direction: column;
        justify-content: flex-start;
    }

}

/* Sur les écrans, quand la largeur de la fenêtre est inférieure ou égale à 425px */

@media screen and (max-width: 425px) {

    /* Nom du logement */

    .main__housing__title {
        font-size: 18px;
    }

    /* Taille font lieu du logement + nom/prénom du propriétaire */

    .main__housing__paragraph {
        font-size: 14px;
    }

    /* Note logement */

    .main__housing__rating {
        height: 13px;
    }

}